@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');

body {
  margin: 30px;
  font-family: "Montserrat";
  background-color: antiquewhite;
  color: rgb(50, 85, 183);
  font-size: 14px;
  line-height: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-transparent {
  text-align: center;
}

.title-bold {
  font-size: 25px;
  margin-bottom: 40px;
}

h1, h2 {
  font-family: 'Bebas Neue';
  color:rgb(99, 50, 183);
  font-size: 20px;
  line-height: 12px;
}

.subtitle-bold {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.img-rounded {
  width: 200px;
  border-radius: 50%;
}

.card-orangeish {
  background-color: rgb(255, 230, 200);
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.paragraph-center {
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  line-height: 20px;
}
.button-black {
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(30, 30, 30);
  margin-bottom: 10px;
  text-align: center;
  margin-right: 14px;
  padding: 5px 10px 5px 10px;
}

.card-orange {
  text-align: center;
  display: flex;
  background-color: rgb(255, 220, 178);
  justify-content: space-between;
  width: 160px;
  padding: 10px 10px 0px 10px;
  border-radius: 4px;

}

.button-black a {
  color:rgb(188, 188, 188);
  transition: 0.3s ease-out;
  text-decoration: none;
}

.list-inline a {
  color:rgb(64, 48, 91);

  transition: 0.3s ease-out;
}

.list-inline {
  list-style-type: none;
  padding-left: 0;
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
}

.list-inline li {
  margin-right: 20px;
  padding-bottom: 5px;
}

.list-inline a:hover {
  color:rgb(108, 42, 229);
}

.button-black a:hover {
  color:rgb(237, 237, 237);
}

@media all and (max-width: 992px) {
  .title-bold {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .img-rounded {
    width: 150px;
  }

  h1, h2 {
    font-family: 'Bebas Neue';
    color:rgb(99, 50, 183);
    font-size: 20px;
    line-height: 12px;
  }

  .subtitle-bold {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media all and (max-width: 768px) {
  .paragraph-center {
    font-size: 12px;
  }

  .img-rounded {
    width: 100px;
  }

  .button-black {
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}
